{{!-- Citation for the following function:
Date: 05-23-24
Adapted from: nodejs-starter-app
Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main --}}

<!-- order_products.hbs -->
<body>

{{! ========== Display Ordered Products  ===========}}

<h2>Order Product Details</h2>
<p>Displays order product contents</p>
{{!-- Create a table --}}
<table id="order_products-table">
    <thead>
        <tr>
            <th>Order ID</th>
            {{!-- <th>Order Product ID</th> --}}
            <th>Customers</th>
            <th>Order Date</th>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Unit Price</th>
            <th>Total</th>
            <th>Delete</th>

        </tr>
    </thead>
    <tbody>
        {{#each orderProducts}}
        <tr data-value={{this.order_id}}-{{this.product_id}}>
            <td align="center">{{this.order_id}}</td>
            {{!-- <td align="center">{{this.order_product_id}}</td> --}}
            <td align="center">{{this.first_name}} {{this.last_name}}</td>
            <td>{{formatDate this.order_date}}</td>
            <td>{{this.product_name}}</td>
            <td align="center">{{this.product_ordered_qt}}</td>
            <td align="right">$ {{this.product_price}}</td>
            <td align="right">$ {{this.total}}</td>
            <td><button onclick="deleteOrderProducts({{this.order_product_id}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/delete_order_product.js"></script>

{{! ========== Add Product to Order Form  ===========}}
<fieldset>
<h2>Add Product to Order</h2>
<p>Fill in the following form to add a product into an order.</p>
<p>Note: Product will not be added to the order if the quantity exceeds the product's current inventory.</p>
<form id="add-order-product-form" method="POST" action="/add-order-product-form">
    <label for="orderSelect">Order ID:</label>
    <select name="input-order-id" id="orderSelect">
        <option value="test">Select an Order</option>
        {{#each orders}}
        <option value="{{this.orderID}}">{{this.orderID}}-{{this.first_name}} {{this.last_name}}-{{formatDate this.order_date}}</option>
        {{/each}}
    </select>
    
    <label for="productSelect">Product Name:</label>
    <select name="input-product-id" id="productSelect">
        <option value="test">Select a Product</option>
        {{#each products}}
        <option value="{{this.product_id}}">{{this.product_name}}</option>
        {{/each}}
    </select>

     <label for="input-quantity">Quantity</label>
    <input type="number" name="input-quantity" id="input-quantity" min="1" placeholder="Enter Quantity" required>

    <input type="submit">
</form>
<script src="./js/add_order_product.js"></script>
</fieldset>


{{! ========== Update Product in Order Form  ===========}}
<fieldset>
<h2>Update Product Order Quantity</h2>
<p>Fill in the following form to update the product quantity in an order.</p>
<form id="update-order-product-form">
    <label for="orderSelectUpdate">Order ID:</label>
    <select name="input-order-id" id="orderSelectUpdate">
        <option value="test">Select an Order</option>
        {{#each orders}}
        <option value="{{this.order_id}}">{{this.orderID}}-{{this.first_name}} {{this.last_name}}-{{formatDate this.order_date}}</option>
        {{/each}}
    </select>
    
    <label for="productSelectUpdate">Product Name:</label>
    <select name="input-product-id" id="productSelectUpdate">
        <option value="test">Select a Product</option>
        {{#each products}}
        <option value="{{this.product_id}}">{{this.product_name}}</option>
        {{/each}}
    </select>

    <label for="input-quantity-update">Quantity</label>
    <input type="number" name="input-quantity" id="input-quantity-update" min="1" placeholder="Enter Quantity" >

    <input type="submit">
</form>
<script src="./js/update_order_product.js"></script>
</fieldset>


<!-- end body - update above! -->
</body>