{{!-- Citation for the following function:
Date: 05-23-24
Adapted from: nodejs-starter-app
Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main --}}

<!-- orders.hbs -->
<body>

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->
<!--                   Orders Section                       -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->

{{! ========== Display Order Data ===========}}

<h2>Orders</h2>
<p>Displays all bakery orders.</p>
<p>[DELETE NOT WORKING YET]</p>

{{!---- Create a table ----}}
<table id="orders-table">
    {{!-- Header section --}}
    <thead> 
        <tr>
            <th>Order ID</th>
            <th>Customer ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Order Date</th>
            <th>Subtotal</th>
            <th>Delete</th>
        </tr>
    </thead>
    
    {{!-- Body section - prints row data --}}
    <tbody>
        {{#each data}}
        <tr data-value={{this.order_id}}>
            <td align="center">{{this.orderID}}</td>
            <td align="center">{{this.customer_id}}</td>
            <td>{{this.first_name}}</td>
            <td>{{this.last_name}}</td>
            <td>{{this.order_date}}</td>
            <td align="right">$ {{this.subtotal}}</td>
            <td><button onclick="deleteOrder('{{this.order_id}}')">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/delete_order.js"></script> {{! -- Delete not working yet -- }}

{{! ========== Add Order Form - Method 2 ===========}}
{{! ======= Not working - just for draft submission ========}}

<fieldset>
<h2>Add an Order</h2>
<p>To add a new order, please fill in the form below and click 'Submit'!</p>
{{!-- Form to add a record to the table  --}}
<form id="add-order-form" method="POST" action="/add-order-form">
    <label for="input-customer_id">Customer Name:</label>
    <select name="input-customer_id" id="mySelect">
        <option value="test">Select a Customer</option>
        {{#each customers}}
        <option value="{{this.customer_id}}">{{this.first_name}} {{this.last_name}}</option>
        {{/each}}
    </select>
    
    <label for="input-order_date">Order Date:</label>
    <input type="date" name="input-order_date" id="input-order_date" required>
    <input type="submit">
</form>
<script src="./js/add_order.js"></script>
</fieldset>


{{! ========== Update Order Form  ===========}}
<fieldset>
<h2>Update the Customer on an Order</h2>
<p>To update a customer on an order, fill out the following form.</p>
<p>[NOT WORKING YET]</p>
<form id="update-order-form" method="POST" action="/update-order-form">
    <label for="input-order_id">Order ID:</label>
    <select name="input-order_id" id="mySelect">
        <option value="text">Select an Order</option>
        {{#each data}}
        <option value="{{this.order_id}}">{{this.order_id}}</option>
        {{/each}}
    </select>
    
    <label for="input-test">Customer Name:</label>
    <select name="input-test" id="test">
        <option value="text">Select Customer</option>
        {{#each customers}}
        <option value="{{this.customer_id}}">{{this.first_name}} {{this.last_name}}</option>
        {{/each}}
    </select>

    <input type="submit">
</form>
<script src="./js/update_order.js"></script>
</fieldset>

<!-- end body - update above! -->
</body>