{{!-- Citation for the following function:
Date: 05-23-24
Adapted from: nodejs-starter-app
Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main --}}

<!-- orders.hbs -->
<body>

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->
<!--                   Orders Section                       -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->

{{! ========== Display Order Data ===========}}

<h2>Orders</h2>
<p>Displays all bakery orders.</p>

{{!---- Create a table ----}}
<table id="orders-table">
    {{!-- Header section --}}
    <thead> 
        <tr>
            <th>Order ID</th>
            <th>Customers</th>
            <th>Order Date</th>
            <th>Subtotal</th>
            <th>Delete</th>
        </tr>
    </thead>
    
    {{!-- Body section - prints row data --}}
    <tbody>
        {{#each data}}
        <tr data-value={{this.order_id}}>
            <td align="center">{{this.orderID}}</td>
            <td>{{#if this.first_name}}{{this.first_name}}{{else}}NULL{{/if}} {{this.last_name}}</td>
            <td>{{formatDate this.order_date}}</td>
            <td align="right">$ {{formatNumber this.subtotal}}</td>
            <td><button onclick="deleteOrder({{this.orderID}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/delete_order.js"></script> {{! -- Delete not working yet -- }}



{{! ========== Add Order Form - Method 2 ===========}}
{{! ======= Not working - just for draft submission ========}}

<fieldset>
<legend><h2>Add an Order</h2></legend>
<p>To add a new order, please select the customer you wish to make the order for and enter the order date. Then, click 'Submit'.</p>
{{!-- Form to add a record to the table  --}}
<form id="add-order-form" method="POST" action="/add-order-form">
    <label for="input-customer_id">Customer Name:</label>
    <select name="input-customer_id" id="mySelect">
        <option value="test">Select Customer</option>
        {{#each customers}}
        <option value="{{this.customer_id}}">{{this.first_name}} {{this.last_name}}</option>
        {{/each}}
    </select>
    
    <label for="input-order_date">Order Date:</label>
    <input type="date" name="input-order_date" id="input-order_date" required>
    <input type="submit">
</form>
<script src="./js/add_order.js"></script>
</fieldset>


{{! ========== Update Order Form  ===========}}
<fieldset>
<legend><h2>Update the Customer on an Order</h2></legend>
<p>To update the customer on an order, please select the order you wish to modify and the customer you wish to change the order to. Then, click 'Submit'.</p>
<form id="update-order-form-ajax">
    <label for="input-order-id">Order ID:</label>
    <select name="input-order-id" id="updateOrderSelect">
        <option value="text">Select Order ID</option>
        {{#each data}}
        <option value="{{this.orderID}}">
            {{this.orderID}} -
            {{#if this.first_name}}{{this.first_name}}{{else}}NULL{{/if}} 
            {{this.last_name}} -
            {{formatDate this.order_date}}</option>
        {{/each}}
    </select>
    
    <label for="input-test">Customer Name:</label>
    <select name="input-test" id="updateOrderCustomerSelect">
        <option value="text">Select Customer</option>
        {{#each customers}}
        <option value="{{this.customer_id}}">{{this.first_name}} {{this.last_name}}</option>
        {{/each}}
    </select>
    <input type="submit">
</form>
<script src="./js/update_order.js"></script>
</fieldset>

<!-- end body - update above! -->
</body>