<!-- order_products.hbs -->
<body>

{{! ========== Display Ordered Products  ===========}}

<h2>Order Product Details</h2>
<p>Displays order product contents</p>
<p>Refresh page after Delete to see changes</p>
{{!-- Create a table --}}
<table id="order_products-table">
    <thead>
        <tr>
            <th>Order ID</th>
            <th>Order Product ID</th>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Unit Price</th>
            <th>Total</th>
            <th>Delete</th>

        </tr>
    </thead>
    <tbody>
        {{#each data}}
        <tr>
            <td>{{this.order_id}}</td>
            <td>{{this.order_product_id}}</td>
            <td>{{this.product_name}}</td>
            <td>{{this.product_ordered_qt}}</td>
            <td>{{this.product_price}}</td>
            <td>{{this.total}}</td>
            <td><button onclick="deleteOrderProducts({{this.order_product_id}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>

<script src="./js/delete_order_product.js"></script>

{{! ========== Add Product to Order Form  ===========}}
{{! ==== Not working - just for draft submission ====}}

<h2>Add Product to Order</h2>
<p>Refresh page to see changes. Drop down selection still need to be fixed</p>
<form id="add-order-product-form" method="POST" action="/add-order-product-form">
    <label for="input-order-id">Order ID:</label>
    <select name="input-order-id" id="orderSelect">
        <option value="test">Select an Order</option>
        {{#each data}}
        <option value="{{this.order_id}}">{{this.order_id}}</option>
        {{/each}}
    </select>
    
    <label for="input-product-id">Product Name:</label>
    <select name="input-product-id" id="productSelect">
        <option value="test">Select a Product</option>
        {{#each data}}
        <option value="{{this.product_id}}">{{this.product_name}}</option>
        {{/each}}
    </select>

     <label for="input-quantity">Quantity</label>
    <input type="number" name="input-quantity" id="input-quantity" required>

    <input type="submit">
</form>
<script src="./js/add_order_product.js"></script>



{{! ========== Update Product in Order Form  ===========}}
{{! ===== Not working - just for draft submission  =====}}

<h2>Update Product Order Quantity</h2>
<form id="update-product-form" method="POST" action="/update-product">
    <label for="input-order_id">Order ID:</label>
    <select name="input-order_id" id="mySelect">
        <option value="test">Select an Order</option>
        {{#each data}}
        <option value="{{this.order_id}}">{{this.order_id}}</option>
        {{/each}}
    </select>
    
    <label for="input-product-id">Product Name:</label>
    <select name="input-product-id" id="productSelect">
        <option value="test">Select a Product</option>
        {{#each data}}
        <option value="{{this.product_id}}">{{this.product_name}}</option>
        {{/each}}
    </select>

     <label for="input-test">Quantity</label>
    <input type="number" name="input-test" id="input-test">

    <input type="submit">
</form>
<script src="./js/product.js"></script>







<!-- end body - update above! -->
</body>