{{!-- Citation for the following function:
Date: 05-23-24
Adapted from: nodejs-starter-app
Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main --}}

<!-- Products.hbs -->
<body>

{{! ========== Display Product Data ===========}}
<h2>Products</h2>
<p>Displays all products availible in the bakery and it's current inventory</p>

{{!---- Create a table ----}}
<table id="products-table">
    {{!-- Header section --}}
    <thead>
        <tr>
            <th>Product ID</th>
            <th>Product</th>
            <th>Description</th>
            <th>Unit Price</th>
            <th>Inventory</th>
            <th>Delete</th>
        </tr>
    </thead>

    {{!-- Body section - prints row data --}}
    <tbody>
        {{#each data}}
        <tr data-value={{this.product_id}}>
            <td align="center">{{this.product_id}}</td>
            <td>{{this.product_name}}</td>
            <td>{{this.product_description}}</td>
            <td align="right">$ {{this.product_price}}</td>
            <td align="center">{{this.product_inventory}}</td>
            <td><button onclick="deleteProduct({{this.product_id}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/delete_product.js"></script>


{{! ========== Add Product Form - Method 2 ===========}}
<fieldset>
<h2>Add New Product</h2>
<p>To add a new product, please fill in the form below and click 'Submit'.</p>
<form id="add-product-form" method="POST" action="/add-product-form">
    <label for="input-product_name">Product Name: </label>
    <input type="text" name="input-product_name" id="input-product_name" placeholder="Ex: Cheese Danish">
    
    <label for="input-product_description">Product Description:</label>
    <input type="text" name="input-product_description"  minlenth="1" maxlength="200" placeholder="200 characters or less">

    <label for="input-product_price">Product Price:</label>
    <input type="number" name="input-product_price" min="1" id="input-product_price" placeholder="Enter Price"> 

    <label for="input-product_inventory">Product Inventory:</label>
    <input type="number" name="input-product_inventory" min="1" id="input-product_inventory" placeholder="Enter Quantity">

    <input type="submit">
</form>
<script src="./js/add_product.js"></script>
</fieldset>


{{! ========== Update Product in Inventory Form  ===========}}
{{! ======= Not working - just for draft submission ========}}
<fieldset>
<h2>Update Product Inventory</h2>
<p>To update a product, select the item from the drop-down list and enter the product's current inventory count. Then, click 'Submit'.</p>
<p>[NOT WORKING YET]</p>
<form id="update-product-form">

    <label for="input-product_id-update">Product:</label>
    <select name="input-product_id-update" id="productSelect">
        <option value="test">Select a Product</option>
        {{#each data}}
        <option value="{{this.product_name}}">{{this.product_name}}</option>
        {{/each}}
    </select>

    <label for="input-product_inventory-update">Inventory Count: </label>
    <input type="number" name="input-product-inventory-update" id="input-product-inventory-update" placeholder="0">
    <input type="submit">

</form>
<script src="./js/products"></script> 
</fieldset>


<!-- end body - update above! -->
</body>