{{!-- Citation for the following function:
Date: 05-23-24
Adapted from: nodejs-starter-app
Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main --}}

<!-- Products.hbs -->
<body>

{{! ========== Display Product Data ===========}}
<h2>Products</h2>
<p>Displays all products available in the bakery and its current inventory</p>

{{!---- Create a table ----}}
<table id="products-table">
    {{!-- Header section --}}
    <thead>
        <tr>
            <th>Product ID</th>
            <th>Product</th>
            <th>Description</th>
            <th>Unit Price</th>
            <th>Inventory</th>
            <th>Delete</th>
        </tr>
    </thead>

    {{!-- Body section - prints row data --}}
    <tbody>
        {{#each data}}
        <tr data-value={{this.product_id}}>
            <td align="center">{{this.product_id}}</td>
            <td>{{this.product_name}}</td>
            <td>{{this.product_description}}</td>
            <td align="right">$ {{formatNumber this.product_price}}</td>
            <td align="center">{{this.product_inventory}}</td>
            <td><button onclick="deleteProduct({{this.product_id}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/delete_product.js"></script>


{{! ========== Add Product Form - Method 2 ===========}}
<fieldset>
<legend><h2>Add New Product</h2></legend>
<p>To add a new product to the inventory, please fill out product's name, price, inventory, and description in the following form. Then, click 'Submit'.</p>
<form id="add-product-form" method="POST" action="/add-product-form">
    <label for="input-product_name">Product Name: </label>
    <input type="text" name="input-product_name" id="input-product_name" placeholder="Ex: Cheese Danish">
    
    <label for="input-product_price">Product Price:</label>
    <input type="number" name="input-product_price" min="0.25" step="0.01" id="input-product_price" style="width: 80px" placeholder="Min: 0.25"> 

    <label for="input-product_inventory">Product Inventory:</label>
    <input type="number" name="input-product_inventory" min="1" id="input-product_inventory" style="width: 60px" placeholder="Min: 1">
    </br>
    <label for="input-product_description">Product Description:</label>
    <input type="text" name="input-product_description"  minlenth="1" maxlength="100" style="width: 300px" placeholder="100 characters or less">
    

    <input type="submit">
</form>
<script src="./js/add_product.js"></script>
</fieldset>


{{! ========== Update Product in Inventory Form  ===========}}
<fieldset>
<legend><h2>Update Product Inventory</h2></legend>
<p>To update a product's inventory, select the product from the drop-down list and enter the product's current inventory count in the following form. Then, click 'Submit'.</p>
<form id="update-product-form">
    <label for="input-product_id-update">Product:</label>
    <select name="input-product_id-update" id="input-product_id-update">
        <option value="test">Select Product</option>
        {{#each data}}
        <option value="{{this.product_id}}" data-price="{{this.product_price}}" data-inventory="{{this.product_inventory}}">{{this.product_name}}</option>
        {{/each}}
    </select>

    <label for="input-price-product-update">Price:</label>
    <input type="number" name="input-price-product-update" min="0.25" step="0.01" id="input-price-product-update" style="width: 80px" placeholder="Min: 0.25"> 

    <label for="input-inventory-product-update">Inventory Count:</label>
    <input type="number" name="input-inventory-product-update" id="input-inventory-product-update" min="1" style="width: 60px" placeholder="Min: 1" >

    <input type="submit">

</form>
<script src="./js/update_product.js"></script>
</fieldset>


<!-- end body - update above! -->
</body>